*{
    padding: 0;
    margin: 0;
}

.container{
    height: 800px;
    display: flex;
    background-color: #ccc;
    flex-direction: row;
    /* row| row-reverse |column | column-reverse */
    flex-wrap: wrap;
    /* wrap | wrap-reverse */
    justify-content: flex-start;
    /* flex-end | center | space-between | space-around */
    align-items: stretch;
    align-content: space-evenly;
}

.item{
    background-color: rgb(139, 139, 139);
    margin: 5px;
    padding: 20px;
    width: 200px;
    height: 50px;
    color: #fff;
}