*{
    padding: 0;
    margin: 0;
}

.container{
    height: 800px;
    display: flex;
    background-color: #ccc;
    /* row| row-reverse |column | column-reverse */
    flex-flow: row wrap;
    /* wrap | wrap-reverse */
    justify-content: flex-start;
    /* flex-end | center | space-between | space-around */
    align-items: stretch;
    align-content: flex-start;

}

.item{
    background-color: rgb(139, 139, 139);
    color: #fff;
    margin: 5px;
    padding: 20px;
    width: 30px;
    height: 30px;
    flex-grow: 1;


}
.article-01{
    flex-grow:2;

}
.article-02{
    flex-grow:3;

}
.article-03{
   
}
.article-04{
    
}