h3{
    color: rgb(173, 3, 3);
}

/*

 o.o nao to afim de fazer o corpo todo


*/

.paragrafo{
    margin: 5px;
    padding: 10px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: black;
}